<section class="col-xs-12" id="digital-art">
	<h1>Digital Art</h1>
	<div ng-repeat="url in imageUrls" class="img-container col-xs-12 col-md-4"><img class="img-responsive img" src="{{url}}"></div>
	<h1>Sketches</h1>
	<div ng-repeat="url in sketchUrls" class="img-container col-xs-12 col-md-4"><img class="img-responsive img" src="{{url}}"></div>
</section>
<section id="footer">
	<div class="footerSection col-md-2 col-xs-12">
		<h2>Contact</h2>
		<p>
			Email - ahmaly01@gmail.com
			<br/>
			Phone - (347) 607-2424
		</p>
		<a class="social" href="https://www.linkedin.com/in/ahmed-aly-68915b81"><i class="fa fa-linkedin"></i></a>
		<a class="social" href="https://github.com/aaly92"><i class="fa fa-github"></i></a>
	</div>
</section>