<section class="col-xs-12" id="home">
</section>
<div class="col-xs-12" id="textOverlay">Hi, I'm Ahmed! </div>
<a href="#about" class="arrow bounce"></a>
<section class="col-xs-12 " id="about">
	<div class="footerSection homeFooter col-md-2 col-xs-12">
		<h2>WHO I AM</h2>
		<p>I am just a young man from New York that eventually made Boston his home. I started at Tufts thinking 
			that mechanical engineering was the major for me and I was wrong because as soon as
			I started taking computer science classes my senior year I fell in love with the subject. 
		</p>
	</div>
	<div class="footerSection homeFooter col-md-2 col-xs-12">
		<h2>WHAT I DO FOR WORK</h2>
		<p>I am a software developer with an interest in art and design. 
			I love making people's lives easier through code but more importantly 
			I love working with and learning from design teams 
			because a good solution is only as good as its design.
		</p>
	</div>
	<div class="footerSection homeFooter col-md-2 col-xs-12">
		<h2>WHAT I DO FOR FUN</h2>
		<p>
			I love to doodle!
			When I'm happy with a design I throw it in Photoshop/Illustrator and I make it digital.
			I eventually turn it into a stickers or posters and put it up on my little etsy store.
		</p>
	</div>
	<div class="footerSection homeFooter col-md-2 col-xs-12">
		<h2>Contact</h2>
		<p>
			Email - ahmaly01@gmail.com
			<br/>
			Phone - (347) 607-2424
		</p>
		<a class="social" href="https://www.linkedin.com/in/ahmed-aly-68915b81"><i class="fa fa-linkedin"></i></a>
		<a class="social" href="https://github.com/aaly92"><i class="fa fa-github"></i></a>
	</div>
</section>