<section class="col-xs-12" id="home">
</section>
<div class="col-xs-12" id="textOverlay">Hi, I'm Ahmed! </div>
<a href="#about" class="arrow bounce"></a>

<!--
<section class="col-xs-12" id="about">
	<div class="col-xs-12"><p class="col-md-6">I am a developer with an interest in design based in Boston, MA. I studied Mechanical Engineering and Computer Science at Tufts.</p></div>
	<div class="col-xs-12">
		<div class="col-xs-12">
		<div>Email: ahmaly01@gmail.com</div>
		<div>Phone: (347) 607-2424 </div>
		</div>
	</div>
</section>
-->

<section class="col-xs-12 " id="about">
	<div class="footerSection col-md-2 col-xs-12">
		<h2>WHO I AM</h2>
		<p>I am a boy from a small town called Tanta in Northern Egypt. 
			I've made New York my home and eventually Boston.
			I wake up everyday with the passion to learn
			something new and to make an impact on the world.
		</p>
	</div>
	<div class="footerSection col-md-2 col-xs-12">
		<h2>WHAT I DO FOR WORK</h2>
		<p>I am a software developer with an interest in design. 
			I love making people's lives easier through code but more importantly 
			I love working with and learning from design teams 
			because a good solution is only as good as its design.
		</p>
	</div>
	<div class="footerSection col-md-2 col-xs-12">
		<h2>WHAT I DO FOR FUN</h2>
		<p>
			I love to doodle!
			When I'm happy with a design I throw it up in Photoshop/Illustrator and I make it digital
			and eventually turn them into stickers and posters.
			I love managing my little etsy store because what's an artist if no one is watching.
		</p>
	</div>
	<div class="footerSection col-md-2 col-xs-12">
		<h2>Contact</h2>
		<p>
			email - ahmaly01@gmail.com
			<br/>
			phone - (347) 607-2424
		</p>
	</div>
</section>