<section class="col-xs-12" id="home">
</section>
<div class="col-xs-12" id="textOverlay">Hi, I'm Ahmed! </div>
<a href="#about" class="arrow bounce"></a>

<section class="col-xs-12" id="about">
	<div class="col-xs-12"><p class="col-xs-6">I am a web developer based in Boston, MA with a background in Mechanical Engineering and Computer Science. I have a special interest in Art and design.</p></div>
	<div class="col-xs-12">
		<div class="col-md-6">
		<div>Email: ahmaly@gmail.com</div>
		<div>Phone: (347) 607-2424 </div>
		</div>
	</div>
</section>