<section class="col-xs-12" id="digital-art">
	<h1>Projects</h1>
	<div class="project col-xs-12">
		<div class="col-sm-5 col-xs-12">
			<a href="http://www.eecs.tufts.edu/~aaly01/AR/index.html">
				<img src="../assets/projects/alphabetical_sort.png" alt="alphabetical_sort" width="400" height="400" />
			</a>
		</div>
		<div class="col-md-3 col-sm-12">Web app I made to practice angular and a bit of algorithms</div>
	</div>

	<div class="project col-xs-12">
		<div class="col-md-5 col-sm-12">
			<a href="../ga.html">
				<img src="../assets/projects/gameboy.png" alt="pdf_cleanup" width="400" height="400" />
			</a>
		</div>
		<div class="col-sm-3 col-xs-12">A CSS practice project I worked on that assembles a gameboy color out of simple shapes</div>
	</div>

	<div class="project col-xs-12">
		<div class="col-md-5 col-sm-12">
			<a href="../assets/projects/unblackedges.c.txt">
				<img src="../assets/projects/pdf_cleanup.png" alt="pdf_cleanup" width="400" height="400" />
			</a>
		</div>
		<div class="col-sm-3 col-xs-12">Small project in C I worked on with a friend that takes in a pdf cleans up black edges</div>
	</div>
	
</section>