<section class="col-xs-12" id="digital-art">
	<h1>Projects</h1>
	<div class="col-xs-12">
		<div class="col-xs-3">
			<a href="http://www.eecs.tufts.edu/~aaly01/AR/index.html">
				<img src="../assets/projects/alphabetical_sort.png" alt="alphabetical_sort" width="200" height="200" />
			</a>
		</div>
		<div class="col-xs-3">Web app I made to practice angular and a bit of algorithms</div>
	</div>
	<br/>
	<br/>
	<div class="col-xs-12">
		<div class="col-xs-3">
			<a href="../ga.html">
				<img src="../assets/projects/gameboy.png" alt="pdf_cleanup" width="200" height="200" />
			</a>
		</div>
		<div class="col-xs-3">A CSS practice project I worked on that assembles a gameboy color out of simple shapes</div>
	</div>
	<br/>
	<br/>
	<div class="col-xs-12">
		<div class="col-xs-3">
			<a href="../assets/projects/unblackedges.c.txt">
				<img src="../assets/projects/pdf_cleanup.png" alt="pdf_cleanup" width="200" height="200" />
			</a>
		</div>
		<div class="col-xs-3">Small project in C I worked on with a friend that takes in a pdf cleans up black edges</div>
	</div>
	
</section>